{% include 'breadcrumbs' %}
<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  

  <div class="product-photo-container">
    <button class="button-slider-previous">{% include 'icon-previous' %}</button>
      <div class="productimage__carosel-container">
        {% if product.images.size > 1 %} 
          <ul class="productimage__thumbnail--list">
            {% for image in product.images %}
              <li>
                <a href="{{ image.src | img_url: '2000x' }}" data-product-single-thumbnail></a>
                <div>
                <img  data-lazy="{{ image.src | img_url: '800x800' }}" {% comment %}src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" {% endcomment %} alt="{{ image.alt | escape }}">
                </div>
                
                
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    <button class="button-slider-next">{% include 'icon-next' %}</button>
  </div>
  
  <div class="product-desc">
  <div class="Item-Title">
    <h1 class="mdc-typography--headline4">{{ product.title }}</h1>
    <p class="mdc-typography--headline5 small--hide medium-up--hide">{{ product.vendor }}</p>
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
</div>
    <form action="/cart/add" method="post" enctype="multipart/form-data" data-cart-submit>
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>

            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>
      <div class="product-quantity small--hide medium-up--hide">
        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
        <input type="number" id="Quantity" name="quantity" value="1" min="1">
      </div>
      <div data-price-wrapper>
        <span data-product-price class="mdc-typography--subtitle1">
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>
        
      <div class="rte mdc-typography--body1">
       {{ product.description }}
      </div>
      <button
        id="show-snackbar"
        type="submit"
        name="add"
        data-add-to-cart
        class="product-add-to-cart foo-button mdc-button mdc-button--unelevated"
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text class="add-to-cart-text">
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
      <div class="shipping_returns_productpage">
          <p class="shipping_returns_cta slideout">{% include 'icon-box-fast' %}<span>&ensp;</span>free U.S. shipping and returns</p>
        </div>

    </form>
    
  

  

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
     
  {% endunless %}
  </div>
    <div id="mdc-js-snackbar"
        class="mdc-snackbar demo-hidden medium-up--hide"
        aria-live="assertive"
        aria-atomic="true"
        aria-hidden="true">
    <div class="mdc-snackbar__text"></div>
    <div class="mdc-snackbar__action-wrapper">
      <button type="button" class="mdc-snackbar__action-button"></button>
    </div>
  </div>

</div>
<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

<script>
      demoReady(function() {
        var MDCSnackbar = mdc.snackbar.MDCSnackbar;
        var snackbar = new MDCSnackbar(document.getElementById('mdc-js-snackbar'));
        var actionInput = true;
        
        var show = function(sb) {
          snackbar.dismissesOnAction = true;
          var data =  {
            message: "{{ product.title }} added to cart",
            actionOnBottom: true,
            multiline: true,
            timeout: 2750
          };
          if (actionInput) {
            data.actionText = "Checkout";
            data.actionHandler = function() {
              window.location.href = '/cart'
            }
          }
          sb.show(data);
        };
        
        // Show and hide events demo
        snackbar.listen('MDCSnackbar:show', function () {
          console.log('Received MDCSnackbar:show');
        });
        snackbar.listen('MDCSnackbar:hide', function () {
          console.log('Received MDCSnackbar:hide');
        });
        document.getElementById('show-snackbar').addEventListener('click', function() {
          show(snackbar);
        });
     
        document.body.classList.remove('loading');
      });
    </script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
